.table {
  border-collapse:collapse;
  width: 100%;
}
.table th, td {
  border:1px solid lightgray;
}

.START{
  color: blue;
}

.LEAVE{
  color: red;
}

.BACK{
  color: green;
}

.END{
  color: black;
}
